<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body style="background-color: #90EE90;">
    <p>Edit your Chat: <%=chat._id%><p>
    <p>This chat was send from <b><%=chat.from%></b> to <b><%=chat.to%></b></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
      <textarea name="msg"><%=chat.message%></textarea>
      <button>Edit</button>
    </form>
</body>
</html>